body {
    margin: 0;
    font-family: Arial;
}


/* HEADER */

.header {
    height: 55px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    background-color: white;

    border-bottom: 1px solid #ddd;

    z-index: 100;
}


.left-section {
    display: flex;
    align-items: center;

    width: 180px;
}


.hamburger-menu {
    font-size: 24px;

    margin-left: 24px;
    margin-right: 24px;
}


.youtube-logo {
    font-size: 20px;
    font-weight: bold;
}


.middle-section {
    display: flex;
    align-items: center;

    flex: 1;

    max-width: 500px;

    margin-left: 40px;
    margin-right: 35px;
}


.search-box {
    height: 36px;

    flex: 1;

    border: 1px solid #ccc;

    padding-left: 12px;

    font-size: 16px;
}


.search-button {
    height: 40px;
    width: 60px;

    border: 1px solid #ccc;

    background-color: #f8f8f8;

    cursor: pointer;
}


.voice-button {
    border: none;

    background-color: #f8f8f8;

    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-left: 10px;

    cursor: pointer;
}


.right-section {
    display: flex;
    align-items: center;

    width: 200px;

    justify-content: space-between;

    margin-right: 20px;
}


.header-icon {
    font-size: 20px;
}


.current-user-picture {
    width: 32px;
    height: 32px;

    border-radius: 50%;
}


/* TOOLTIP */

.tooltip-container {
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;
}


.tooltip {
    position: absolute;

    background-color: gray;

    color: white;

    padding: 6px 8px;

    border-radius: 2px;

    font-size: 12px;

    white-space: nowrap;

    bottom: -35px;

    opacity: 0;

    pointer-events: none;
}


.tooltip-container:hover .tooltip {
    opacity: 1;
}


/* VIDEOS */

main {
    margin-top: 80px;

    padding: 20px;
}


.video-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    column-gap: 16px;
}


.thumbnail {
    width: 100%;

    display: block;
}


.thumbnail-row {
    position: relative;
}


.video-time {
    position: absolute;

    bottom: 8px;
    right: 5px;

    background-color: black;

    color: white;

    padding: 4px;

    font-size: 12px;
}


.video-info-grid {
    display: grid;

    grid-template-columns: 50px 1fr;

    margin-top: 10px;
}


.channel-picture {
    width: 40px;
}


.profile-picture {
    width: 40px;
    height: 40px;

    object-fit: cover;

    border-radius: 50%;
}


.video-title-link {
    text-decoration: none;

    color: black;
}


.video-title-link:hover {
    text-decoration: underline;
}


.video-title {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 14px;

    line-height: 20px;
}


.video-author,
.video-stats {
    font-size: 12px;

    color: gray;
}